.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #112233;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles.css */
body {
  background-color: #112233;
}

h1 {
  color: #112233;
}

.modem-index {
  color: #fefefe;
}

.message {
  color: #ffffff;
}

.navbar {
  background-color: #345576;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: #ffffff;
}

.button {
  background-color: #0292c3;
  color: #ffffff; /* Button text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  align-items: left;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "graph1 piechart"
    "linegraph info";
}

.bg-gray-200 {
  /* Adjust background color styles as needed */
}

.p-4 {
  /* Adjust padding styles as needed */
}

.rounded-md {
  /* Adjust border radius styles as needed */
}

.text-lg {
  /* Adjust font size styles as needed */
}

.font-semibold {
  /* Adjust font weight styles as needed */
}

.mb-2 {
  /* Adjust margin styles as needed */
}

.graph1 {
  grid-area: graph1;
}

.piechart {
  grid-area: piechart;
}

.linegraph {
  grid-area: linegraph;
}

.info {
  grid-area: info;
}
